*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    background:#eee;
    font-family:sans-serif;
}

.banner-area{
    width:100%;
    height:100vh;
    background-image: url("../bannerpart.JPG");
    background-size:cover;
}

.content-area{
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.content{
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.content .logo_area{
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 0;
    content: "";
    margin-left:-150px;
    text-align: center;
}

.content .msg_land{
    color: green;
    margin-top: 10px;
    display: block;
}

.content h1{
    margin-top: 100px;
    font-size:60px;
    color:#fff;
    font-weight: 600;

}

.content p{
    font-size:20px;
    color:white;
}


/* @media only screen and (min-width: 600px) {
    .content .logopart{
        margin-left: auto;
    }
} */

@media only screen and (min-width: 200px) and (max-width: 767px) {
    .logo_area {
        height: auto;
        left: 0;
        margin-left: 0;
        position: relative;
        top: 0;
        width: 130px;
    }
    .content .logo_area img{
        height: auto;
        width: 100%;

    }
    .content {
        top: 50%;
    }

    .content h1{
        font-size: 40px;
    }


}




.content form {
    max-width: 700px;
    margin: 0 auto;
  }
  .content form .row {
    /* margin-bottom: 20px; */
    margin-top: 45px;
  }
  .content form .row label {
    font-weight: bold;
    margin-bottom: 5px;
    display: inline-block;
  }
  .content form .row input[type=email],
  .content form .row textarea {
    width: 75%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    -webkit-transition: border-color 0.3s ease;
    transition: border-color 0.3s ease;
  }
  .content form .row input[type=email]:focus,
  .content form .row textarea:focus {
    outline: none;
    border-color: #007bff;
    -webkit-box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
            box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
  }
  .content form input[type=submit] {
    margin-top: 20px;
    padding: 8px 20px;
    background-color: white;
    color: #23AED8;
    font-weight: 700;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    -webkit-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
  }
  .content form:hover input[type=submit] {
    background-color: #7ad3ee;
    color: white;
    border: #222;
    border:none;
    outline:5px;
  }
.content form {
    width: 100%; /* for mobile and smaller screens */
    margin: 0 auto;
  }
  @media (min-width: 768px) {
    .content form {
      /* for desktop and large devices (768 pixels & up) */
      width: 700px;
    }

  }


  .social-icon ul{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    margin-top: 40px;
  }

  .social-icon ul li{
    list-style: none;
    margin: 0 15px;
  }
  .social-icon ul li .fa-brands{
    font-size: 35px;
    line-height: 35px;
    transition: .3s;
    color: #000;
  }

  .social-icon ul li .fa-brands:hover{
    color: #fff;
  }
  .social-icon ul li a{
    position: relative;
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    /* background-color: rgb(245,243,243); */
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0. 0, 0.2);
    transition: .6s;
  }
  .social-icon ul li a:hover{
    transform: translate(0, -10%);
  }

  .social-icon ul li:nth-child(1) a:hover{
    background-color: rgba(60, 132, 240);
  }

  .social-icon ul li:nth-child(2) a:hover{
    background-color: rgba(247, 17, 208);
  }
  .social-icon ul li:nth-child(3) a:hover{
    background-color: rgba(60, 132, 240);;
  }


.contact_deatils1 .onboarding{
    margin-top: 120px;
    font-weight: 700;
    font-size: 22px;
}


/* contact */

.contact_deatils {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    margin-top: 20px;

  }

  /* Navbar links */
  .contact_deatils a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-weight: 700;
  }

  /* Navbar links on mouse-over */
  .contact_deatils a:hover {
    color:black;
  }

  /* Current/active navbar link */
  .active {
    background-color: #04AA6D;
  }

  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  @media screen and (max-width: 500px) {
    .contact_deatils a {
      float: none;
      display: block;
    }
  }



